
/*------------------------------------------------------------------*\
    $CONTENTS
\*------------------------------------------------------------------*/
/**
 * CONTENTS
 * BODY-SECTIONS
 * GLOBAL-LEVEL-ELEMENTS
 * HELPER-CLASSES
 * FORMS
 * BUTTONS
 * ANIMATIONS
 * NAV-TABS (TABS)
 * ALERTS
 */




@import "vars.less";

/*------------------------------------------------------------------*\
    $BODY-SECTIONS
\*------------------------------------------------------------------*/


/* -- start sticky footer -- */
html, body {
	height: 100%;
}
#wrapper {
  	min-height: 100%;
  	margin: 0 0 -54px 0;
}
#contentWrapper {
	padding: 0 0 54px 0;
}
/* -- end sticky footer -- */

body {
	margin: 0;
	padding: 0;
	font-family: @font-primary;
	font-size: 14px;
	line-height: 1.6em;
	color: @text-primary;
	background-color: #fff;
	overflow-x: hidden;
}
#maincontent {
	z-index:1000;
	margin: 40px 0 30px 0;
}
#maincontent.noIntro {
	margin-top: 120px;
}
#maincontent.noIntroShort {
	margin-top: 80px;
}
.rowExtraMargins.row {
  	margin: 50px 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		max-width: 980px;
	}
}
@media (max-width: 991px) {
	.navbar-fixed-top {
		position: static;
		margin-bottom: 20px;
	}
	.rowExtraMargins.row {
		margin: 0;
	}
}
@media (max-width: 767px) {
	#maincontent .container {
		margin: 0 20px;
	}
	#intro .container {
		padding: 0;
	}
}







/*------------------------------------------------------------------*\
    $GLOBAL-LEVEL-ELEMENTS
\*------------------------------------------------------------------*/


p {
	margin: 0 0 15px;
}
img {
	/* Responsive images (ensure images don't scale beyond their parents) */
	max-width: 100%;
	/* Part 1: Set a maxium relative to the parent */
	width: auto\9;
	/* IE7-8 need help adjusting responsive images */
	height: auto;
	/* Part 2: Scale the height according to the width, otherwise you get stretching */
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
a {
	color: @text-secondary;
	text-decoration: none;
}
a:hover {
	color: @text-secondary;
	text-decoration: underline;
	cursor: pointer;
}
input,
button,
select,
textarea {
	font-family: @font-primary;
}
h1, h2, h3, h4, h5, h6 {
	font-family: @font-secondary;
	font-weight: 300;
}
h1 {
	font-size: 34px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 16px;
}
h1 small {
	font-size: 24.5px;
}
h2 small {
	font-size: 17.5px;
}
h3 small {
	font-size: 14px;
}
h4 small {
	font-size: 14px;
}



/*------------------------------------------------------------------*\
    $HELPER-CLASSES
\*------------------------------------------------------------------*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.cB {
	clear: both;
}
.cL {
	clear: left;
}







/*------------------------------------------------------------------*\
    $FORMS
\*------------------------------------------------------------------*/


label {
	font-weight: normal;
}
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	height: 28px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fafafa;
	border: 1px solid #CCC;
	color: #333;
}
textarea {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fafafa;
	color: #333;
}
select,
input[type="file"] {
	height: 30px;
	line-height: 30px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #333;
	background-color: #feef9c;
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	cursor: not-allowed;
	background-color: #eeeeee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
	background-color: transparent;
}
input[type="text"]:required,
input[type="password"]:required,
input[type="email"]:required {
	background-image: url('/img/icons/asterisk-black-12.png');
	background-position: 97% center;
	background-repeat: no-repeat;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
	webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #333;
	color: #333;
}
form.error input.ng-invalid-required,
form.error input.ng-invalid-email,
form.error textarea.ng-invalid-required,
form input.ng-invalid-duplicate {
	border-color: red;
}
.formMessage {
	margin-bottom: 15px;
}
.formMessageError {
	margin-bottom: 10px;
	color: red;
}
.row-fluid [class*="span"].formMessage,
.row-fluid [class*="span"].formMessageError {
	min-height: 0;
}
form h3 {
	border-bottom: solid 1px #AAA;
	margin-bottom: 20px;
	padding-bottom: 5px;
	line-height: 40px;
}

/* --- login & registration forms --- */
.formLarge {
	input {
		display: block;
		height: 48px;
		padding: 0 10px;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 30px;
	}
	label {
		font-size: 16px;
		color: @text-secondary;
	}
}

/* --- formMediumHorz ---- */
.formMediumHorz.form-horizontal {
	input {
		display: block;
		height: 40px;
		padding: 4px 10px;
		font-size: 16px;
		line-height: 40px;
	}
	label {
	  	font-size: 16px;
	  	line-height: 40px;
	  	color: @text-secondary;
	  	font-weight: normal;
	  	padding-top: 0;
	}
	button {
		margin: 0 0 20px -4px;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@media (max-width: 767px) {
	.formMediumHorz.form-horizontal,
	.formLarge {
		max-width: 500px;
	}
	.formMediumHorz.form-horizontal {
		label {
			line-height: 20px;
		}
		button {
			margin: 10px 0 20px 0;
		}
	}
}






/*------------------------------------------------------------------*\
    $BUTTONS
\*------------------------------------------------------------------*/


.btn {
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: none;
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	filter: none;
	*zoom: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-primary {
	color: #000;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: @bgr-secondary;
	*background-color: @bgr-secondary;
	background-image: none;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: none;
	filter: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	color: #333;
	background-color: @bgr-secondary;
	*background-color: @bgr-secondary;
	border-color: #111;
}







/*------------------------------------------------------------------*\
    $ANIMATIONS
\*------------------------------------------------------------------*/


.slide-enter-from-right, .slide-leave-to-left,
.slide-enter-from-left, .slide-leave-to-right {
	-webkit-transition: all 0.5s linear;
	position: absolute;
}
.slide-enter-from-right {
	left: 100%;
}
.slide-enter-from-right-active {
	left: 0;
}
.slide-leave-to-left {
	left: 0
}
.slide-leave-to-left-active {
	left: -100%;
}
.slide-enter-from-left {
	left: -100%;
}
.slide-enter-from-left-active {
	left: 0;
}
.slide-leave-to-right {
	left: 0;
}
.slide-leave-to-right-active {
	left: 100%;
}

/*------------------------------------------------------------------*\
    $NAV-TABS (TABS)
\*------------------------------------------------------------------*/


.nav-tabs {
	border-bottom: 1px solid #dddddd;
}
.nav-tabs > li > a {
	border-radius: 0;
	font-family: @font-tertiary;
	font-size: 16px;
}
.nav-tabs > li > a:hover {
	cursor: pointer;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	cursor: default;
	border-top: 1px solid @text-primary;
	border-bottom-color: transparent;
}
.tab-content {
	margin: 40px 0 20px 0;
}

/*------------------------------------------------------------------*\
    $ALERTS
\*------------------------------------------------------------------*/


.alert {
	padding: 10px 15px;
	border-radius: 2px;
	border: none;
}
.alert-info {
	color: @text-primary;
	background-color: @bgr-fifth;
	border-left: 3px solid @text-primary;
	span {
		font-size: 16px;
		font-style: italic;
	}
}
.alert-success {
	color: #fff;
	background-color: @text-secondary;
	border-left: 3px solid @text-primary;
	span {
		font-size: 16px;
		font-style: italic;
		margin-right: 5px;
		color: #000;
	}
}