/* ------------------------------------- header / top nav ------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\000037}}
.navbar-static-top {
  position: static;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\0000310}}
.navbar-static-top .navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\0000319}}
.navbar-fixed-top {
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\0000321}}
.navbar-fixed-top .navbar-inner {
  background-color: #fafafa;
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\0000334}}
.navbar .brand.logo {
  padding: 0;
  margin-left: 0;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\0000339}}
.navbar .userInfo {
  margin: 20px 0 0 30px;
  font-size: 16px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\0000343}}
.navbar .userInfo a {
  color: #de470c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\0000347}}
.navbar .userWelcome {
  font-style: italic;
  height: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\0000351}}
.navbar ul.topnav {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\0000354}}
.navbar .nav > li > a {
  font-family: 'Raleway', sans-serif;
  float: none;
  padding: 20px 15px;
  color: #888;
  font-size: 24px;
  text-decoration: none;
  text-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\0000363}}
.navbar .nav > li > a:hover {
  border-right: #000 5px solid;
  background-color: #e5e5e5;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\0000372}}
.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
  background-color: #f4bb32;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\0000384}}
header .topnav .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\0000393}}
.dropdown-menu {
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 0;
  *border-bottom-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003107}}
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003114}}
.dropdown-menu li:hover .sub-menu {
  visibility: visible;
  margin-left: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003119}}
ul.topnav .dropdown-menu {
  border: 1px solid #eee;
  background: #fff;
  padding: 0 0;
  margin: 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003124}}
ul.topnav .dropdown-menu .sub-menu {
  margin-left: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003127}}
ul.topnav .dropdown-menu li {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003130}}
ul.topnav .dropdown-menu li > a {
  padding: 5px 20px;
  line-height: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003138}}
.fade-show-setup {
  -webkit-transition: all linear 1.5s;
  -moz-transition: all linear 1.5s;
  -ms-transition: all linear 1.5s;
  -o-transition: all linear 1.5s;
  transition: all linear 1.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003145}}
.fade-show-setup {
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003148}}
.fade-show-setup.fade-show-start {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003151}}
.fade-hide-setup {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003154}}
.fade-hide-setup.fade-hide-start {
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003157}}
.fade-show-setup.hide,
.fade-hide-setup.hide {
  display: none;
  opacity: 0;
  line-height: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003163}}
.fade-show-start.hide,
.fade-hide-start.hide {
  display: none;
  opacity: 0;
  line-height: 20px;
}
@media (max-width: 979px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003170}}
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0 5px;
  }
}
/* ------------------------------------- footer ------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003179}}
footer {
  padding-top: 15px;
  color: #fff;
  background-color: #666;
  border-top: 4px solid #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003184}}
footer a,
footer a:hover {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003187}}
footer a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003190}}
footer .orange {
  color: #f4bb32;
}
@media (max-width: 767px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003196}}
  footer .container {
    padding: 0 20px;
  }
}
/* ------------------------------------- login page ------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003204}}
.loginFacebook {
  float: left;
  background: url('/img/sign-in-with-facebook.png') no-repeat left top;
  height: 48px;
  width: 251px;
  margin: 75px 0 0 20px;
  cursor: pointer;
  text-indent: -9999px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003213}}
.loginGoogle {
  float: left;
  background: url('/img/sign-in-with-google.png') no-repeat left top;
  height: 48px;
  width: 251px;
  margin: 20px 0 0 20px;
  cursor: pointer;
  text-indent: -9999px;
}
/* ------------------------------------- intro section ------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003226}}
#intro {
  background-color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003228}}
#intro .sectionTitle {
  padding: 90px 0 10px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003230}}
#intro .sectionTitle .titleBox {
  font-size: 25px;
  color: #f4bb32;
  text-shadow: 0px 1px 2px #000;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 0 10px 15px;
  border-left: 10px solid #000;
}
@media (max-width: 979px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003241}}
  #intro {
    margin-top: -20px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mstelten\/Sites\/nodeCrimpd\/public\/css\/sections\.less}line{font-family:\00003243}}
  #intro .sectionTitle {
    padding: 10px 0;
  }
}
