
/*------------------------------------------------------------------*\
    $CONTENTS
\*------------------------------------------------------------------*/
/**
 * CONTENTS.....................You’re reading it!
 * HEADER / TOP-NAV.............Site Header and Navigation
 * FOOTER.......................Site Footer
 * LOGIN........................Login Page
 * INTRO........................Intro Section (above mainContent)
 * EXERCISE-SEARCH..............Exercise search page
 * EXERCISE-DETAILS.............Exercise details view
 * CREATE-EXERCISE..............Create Exercise page
 * COMMUNITY....................Community home page
 * LOADING BAR..................Global loading bar
 */




@import "vars.less";

/*------------------------------------------------------------------*\
    $HEADER / $TOP-NAV
\*------------------------------------------------------------------*/


.navbar {
	color: @one-light;
	background-color: #444;
	background-image: none;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	nav {
		width: 100%;
	}
	.logo {
		font-family: @font-secondary;
		font-size: 40px;
		float: left;
		text-shadow: none;
		color: #111;
		padding: 0;
	  	margin: 0 0 0 20px;
	}
    .userInfo {
		margin: 9px 0 0 60px;
		font-family: @font-primary;
		font-size: 16px;
		float: left;
		a {
			color: @two-dark;
		}
    }
    .userWelcome {
    	font-style: normal;
    	height: 20px;
    }
	ul.topnav {
		float: right;
		margin-right: 10px;
		li {
			float: left;
		}
	}
	.nav > li > a {
		font-family: @font-primary;
		float: none;
		padding: 10px 15px;
		color: @two-dark;
		font-size: 24px;
		line-height: 20px;
		text-decoration: none;
		text-shadow: none;
	}
	.nav > li > a:hover {
		border-right: #000 5px solid;
		background-color: #888;
		color: #000;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.nav .active > a,
	.nav .active > a:hover,
	.nav .active > a:focus {
		background-color: @two-dark;
		color:#fff;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	/* PHONE NAV */

	.nav-stacked {
		width: 100%;
		float: left;
		height: 0;
		overflow: hidden;
	}
	.open .nav-stacked {
		height: auto;
	}
	.nav-stacked > li {
		width: 50%;
		float: left;
		margin-top: 0;
	}
	.nav-stacked > li > a {
		text-align: center;
		border: 0px solid #DDD;
	}
	.nav-stacked > li.onlyXXS {
		display: none;
	}
	.nav-pills.nav-stacked > li > a {
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	}

}
header .topnav .dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0;
   	-moz-border-radius: 0;
   	border-radius: 0;
}
.dropdown-menu {
  	border: 1px solid #eee;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	*border-right-width: 0;
  	*border-bottom-width: 0;
  	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  	-webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    .sub-menu {
		left: 100%;
		position: absolute;
		top: 0;
		visibility: hidden;
		margin-top: -1px;
	}
	li:hover .sub-menu {
		visibility: visible;
		margin-left: 1px;
	}
}
ul.topnav  .dropdown-menu {
  	border: 1px solid #eee;
 	background:#fff;
 	padding: 0 0;
  	margin: 0 0 0;
 	.sub-menu {
		margin-left:1px;
	}
	li {
	  	padding:0;
	}
	li > a {
	  	padding: 5px 20px;
	  	line-height: 1.6em;
	}
	li.active a {

	}
}
.fade-show-setup {
	-webkit-transition: all linear 1.5s;
	-moz-transition: all linear 1.5s;
	-ms-transition: all linear 1.5s;
	-o-transition: all linear 1.5s;
	transition: all linear 1.5s;
	opacity: 0;
}
.fade-show-setup.fade-show-start {
  	opacity: 1;
}
.fade-hide-setup {
  	opacity: 1;
}
.fade-hide-setup.fade-hide-start {
  	opacity: 0;
}
.fade-show-setup.hide,
.fade-hide-setup.hide {
	display: none;
	opacity: 0;
	line-height: 20px;
}
.fade-show-start.hide,
.fade-hide-start.hide {
  	display: none;
  	opacity: 0;
  	line-height: 20px;
}
.toggleNavHamburger {
	float: right;
	cursor: pointer;
	height: 40px;
	width: 40px;
	background: url('/img/icons/hamburger.png') no-repeat left top;
	margin: 10px 20px 0 0;
	text-indent: -9999px;
}

@media (max-width: 991px) {
	.navbar .container {
		max-width: 991px;
		padding: 0;
	}
	.navbar {
		padding: 0;
	}
}
@media (max-width: 767px) {
	.navbar {
		.nav {
			margin: 0;
		}
		.userInfo {
			margin-left:30px;
		}
	}
}
@media (max-width: 480px) {
	.navbar {
		.nav-stacked > li {
			width: 100%;
		}
		.nav-stacked > li.onlyXXS {
			display: block;
		}
		.userInfo {
			display: none;
		}
	}
}







/*------------------------------------------------------------------*\
    $FOOTER
\*------------------------------------------------------------------*/


footer {
	padding-top:15px;
	color:#000;
  	background-color: @one-middle;
  	border-top: 4px solid #999;
  	a, a:hover {
  		color: #fff;
  	}
  	a:hover {
  		text-decoration: underline;
  	}
  	.white {
  		color: #fff;
  	}
}
@media (max-width: 767px) {
	footer {
		.container {
			padding: 0 20px;
		}
	}
}








/*------------------------------------------------------------------*\
    $LOGIN
\*------------------------------------------------------------------*/


.loginFacebook {
	float: left;
  	background: url('/img/sign-in-with-facebook.png') no-repeat left top;
 	height: 48px;
  	width: 251px;
  	margin: 85px 0 0 20px;
  	cursor: pointer;
  	text-indent: -9999px;
}
.loginGoogle {
	float: left;
	background: url('/img/sign-in-with-google.png') no-repeat left top;
	height: 48px;
	width: 251px;
	margin: 20px 0 0 20px;
	cursor: pointer;
  	text-indent: -9999px;
}
@media (max-width: 767px) {
	.loginFacebook {
		margin: 30px 0 0 0;
	}
	.loginGoogle {
		margin: 20px 0 0 0;
		clear: left;
	}
}











/*------------------------------------------------------------------*\
    $INTRO
\*------------------------------------------------------------------*/


#intro {
	.sectionTitle {
		float: left;
		padding: 7px 0;
		background-color: @four-middle;
		border-left: 15px solid #D6DBC5;
		width: 400px;
		.titleBox {
			font-size: 21px;
			color: @one-dark;
			/* text-shadow: 0px 1px 2px #000; */
			font-family: @font-secondary;
			padding: 5px 0 5px 15px;
		}
	}
	.loaderContainer {
		float: left;
		position: relative;
		margin: 8px 0 0 20px;
		.loadingText {
			position: absolute;
			top: 5px;
			left: 8px;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
}
@media (max-width: 991px) {
	#intro {
		.sectionTitle {
			width: 100%;
			border-right: 0;
		}
	}
}









/*------------------------------------------------------------------*\
    $EXERCISE-SEARCH
\*------------------------------------------------------------------*/

.loaderContainerSearch {
	float: left;
	position: relative;
	margin: 20px 0 0 40px;
	.loadingText {
		position: absolute;
		top: 5px;
		left: 8px;
		width: 150px;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.searchResults {
	width: 100%;
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
	&:after {
		content:"";
		display: table;
		clear: both;
	}
}
.exerciseCard {
	border: 0px solid #222;
	background-color: @four-light;
	color: @one-xdark;
	margin: 0 10px 20px 10px;
	padding: 0;
	float: left;
	width: 215px;
	position: relative;
	overflow: hidden;
	.thumb {
		height: 161px;
		width: 215px;
	}
	.name {
		float: left;
		width: 150px;
		margin: 10px 10px 10px 10px;
		font-size: 13px;
	}
	.add,
	.details {
		float: right;
		color: @one-dark;
		font-size: 20px;
		margin: 6px 15px 0 0;
	}
	.thumbContainer {
		position: relative;
	}
	.moreInfo {
		font-size: 12px;
		font-family: @font-tertiary;
		background-color: #111;
		color: #fff;
		border-left: 3px solid #fff;
		position: absolute;
		bottom: 0px;
		right: -50%;
		padding: 10px;
		z-index: 5;
		margin-top: -50px;
		opacity: 0;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
		max-width: 200px;
		span {
			color: @two-dark;
		}
	}
	&:hover .moreInfo {
		display: block;
		right: 0;
		opacity: 0.9;
	}
}
.filterContainer {
	background-color: @one-xxl;
	border-left: 3px solid #111;
	margin: 0 auto 20px auto;
	padding: 15px;
	width: 240px;
	input,
	select {
		width: 100%;
		padding-left: 10px;
		margin-bottom: 10px;
	}
	h3 {
		margin: 0 0 10px 0;
		color: @two-dark;
		line-height: 40px;
	}
	.clearFilters {
		display: block;
		margin: 5px 0;
		color: red;
	}
	.manage {
		display: block;
		margin: 5px 0;
	}
	&.fixed {
		position: fixed;
		top: 20px;
		margin-left: 10px;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@media (min-width: 1200px) {
	.exerciseCard {
		width: 250px;
		margin: 0 15px 30px 15px;
		.thumb {
			height: 200px;
			width: 250px;
		}
	}
}
@media (min-width: 481px) and (max-width: 1199px) {
	.exerciseCard {
		.add,
		.details {
			margin-right: 10px;
		}
		.name {
			width: 130px;
			font-size: 12px;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.filterContainer {
		width: 100%;
		input,
		select {
			max-width: 250px;
		}
		h3 {
			font-size: 21px;
		}
	}
}
@media (min-width: 505px) and (max-width: 767px) {
	.searchResults {
		width: 475px;
		margin: 10px auto 0 auto;
	}
	.filterContainer {
		width: 100%;
		.section {
			float: left;
			width: 45%;
			&:first-of-type {
				margin-right: 40px;
			}
		}
		&.fixed {
			position: relative;
			margin: 0 auto 20px auto;
			top: 0;
		}
	}
}

@media (max-width: 504px) {
	.searchResults {
		margin: 10px 0 0 0;
	}
	.filterContainer {
		width: 100%;
		.section {
			width: 100%;
		}
		&.fixed {
			position: relative;
			margin: 0 auto 20px auto;
			top: 0;
		}
	}
	.exerciseCard {
		width: 250px;
		margin: 0 auto 20px auto;
		float: none;
		.thumb {
			height: 200px;
			width: 250px;
		}
		.thumbContainer {
			height: 100px;
			overflow: hidden;
		}
	}
}



/*------------------------------------------------------------------*\
    $EXERCISE-DETAILS
\*------------------------------------------------------------------*/

.exerciseDetails {
	.detailsTop {
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	.backToSearch {
		.flatBtn(@four-light, @one-dark, @two-dark);
		margin-bottom: 20px;
	}
	.edit {
		.flatBtn(@three-dark, @one-dark, @one-xlight);
		margin: 0 0 0 20px;
	}
	.photo {
		float: left;
		max-width: 600px;
		max-height: 480px;
		background-color: @three-dark;
		padding: 10px;
		margin: 0 20px 20px 0;
	}
	.infoBlock {
		font-size: 16px;
		div {
			margin-bottom: 20px;
		}
	}
	.title {
		font-size: 24px;
		color: @two-dark;
	}
	.description {
		margin: 0;
	}
	.stepLargeImgContainer {
		float: left;
		position: relative;
		margin: 0 20px 20px 0;
		width: 620px;
		height: 500px;
		background-color: @one-light;
		text-align: center;
	}
	.helper {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	.stepLargeImg {
		vertical-align: middle;
		margin-left: -5px;
		max-height: 480px;
		max-width: 600px;
	}
	.stepNumber {
		position: absolute;
		background-color: rgba(192, 192, 192, 0.5);
		padding: 10px;
		font-size: 24px;
		font-family: @font-tertiary;
		font-weight: bold;
		color: @one-xdark;
		text-shadow: 2px 2px 4px #FFF, -2px -2px 4px #FFF;
		top: 10px;
		left: 10px;
		z-index: 5;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.exerciseDetails {
		.photo {
			max-width: 500px;
			max-height: 400px;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.exerciseDetails {
		.photo {
			max-width: 400px;
			max-height: 320px;
		}
	}
}
@media (max-width: 767px) {
	.exerciseDetails {
		.photo {
			width: 100%;
		}
	}
}
@media (max-width: 480px) {

}



/*------------------------------------------------------------------*\
    $CREATE-EXERCISE
\*------------------------------------------------------------------*/


.backToDetails {
	.flatBtn(@four-light, @one-dark, @two-dark);
	margin: 8px 10px 0 20px;
}

/************************* BASIC INFO TAB ***************************/
.createExercise {
	textarea {
		background-color: #FAFAFA;
	}
	.exerciseDesc {
		height: 312px;
	}
	.metaData {
		.form-group {
			float: left;
			margin: 0 0 20px 0;
		}
		.control-label {
			width: auto;
			float: none;
			text-align: left;
		}
		.checkbox-group {
			height: 150px;
			overflow-x: hidden;
			overflow-y: scroll;
			border: 1px solid #CCC;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			background-color: #fafafa;
			padding: 10px;
			.checkbox:first-child {
				padding-top: 0;
				margin-top: 0;
			}
			label {
				color: @one-dark;
			}
			/* bring back webkit scrollbar by default */
			&::-webkit-scrollbar {
				-webkit-appearance: none;
				width: 9px;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 4px;
				border: 2px solid #fafafa;
				background-color: rgba(0, 0, 0, .5);
				-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
			}
		}
		label {
			line-height: 20px;
			&.checkbox {
				padding-top: 2px;
			}
			&.highlight {
				background-color: @four-middle;
			}
		}
		input {
			height: auto;
			margin-top: 2px;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	.status {
		margin: -10px 0 20px 0;
		float: left;
		.glyphicon {
			margin-right: 10px;
		}
	}
	.status-tab {
		margin: 5px 0 0 60px;
		.newExr,
		.editingExr {
			color: #333;
			background-color: @three-dark;
			padding: 4px 10px;
			border-radius: 4px;
			.name {
				font-size: 16px;
				font-style: italic;
			}
			.glyphicon {
				top: 2px;
			}
		}
	}
	.newExerciseSuccess {
		float: left;
	}
	.formMediumHorz {
		clear: both;
	}
	.nav-tabs .glyphicon {
		margin-right: 4px;
		top: 0;
		font-size: 14px;
	}
}

/************************ STEPS & IMAGES TAB ***********************/
.createExercise {
	.imageDesc {
		height: 250px;
	}
	.imageForm {
		.checkbox {
			display: inline-block;
			margin-right: 20px;
		}
	}
	.thumbnailsSection {
		width: 100%;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	.currentImageHeader {
		background-color: @four-light;
		color: @one-dark;
		padding: 4px 10px;
		margin-bottom: 15px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
	.defaultImgKey {
		float: right;
		margin-right: 10px;
	}
	.editingHeader {
		.flatBtn(@one-light, @one-dark, @two-dark);
		font-size: 16px;
		font-weight: bold;
		background-color: #DDD;
	}
	.editingDefaultImg {
		margin-left: 20px;
		color: @two-dark;
		.glyphicon {
			margin-right: 5px;
		}
	}
	.sortLink {
		margin-left: 20px;
		color: #0D4F8B;
		.glyphicon {
			margin-right: 5px;
		}
		&.sorting {
			display: none;
		}
	}
	.sortingHeader {
		margin-bottom: 10px;
		.glyphicon {
			margin-right: 5px;
		}
		.sortFinish {
			margin: 0 10px;
			color: @two-dark;
			text-decoration: underline;
		}
		.sortCancel {
			color: #FF0000;
			text-decoration: underline;
		}
	}
	.sortContainer {
		list-style: none;
		padding: 0;
		.sortImages {
			float: left;
			margin: 0 20px 20px 0;
			width: 100px;
			border: 1px solid @one-dark;
		}
		.sortNumber {
			position: relative;
			float: left;
			margin: -30px 0 0 10px;
			font-size: 20px;
			color: #FFF;
			text-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
		}
		.imagePlaceholder {
			float: left;
			height: 80px;
			width: 100px;
			margin: 0 20px 20px 0;
			background-color: @three-middle;
			border: 2px solid @three-dark;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	.thumbContainer {
		float: left;
		margin: 0 20px 20px 0;
		img {
			width: 100px;
		}
		.controls {
			background-color: @one-light;
			.edit {
				float: left;
				margin: 2px 8px;
				&:hover {
					cursor: pointer;
					color: @two-dark;
				}
			}
			.sortNumber {
				float: right;
				margin: 2px 8px 0 0;
				font-size: 14px;
				font-family: @font-tertiary;
			}
			.defaultImg {
				float: right;
				margin: 2px 8px 0 8px;
				line-height: 18px;
			}
			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}
	}
	.imageShowcase {
		img {
			display: block;
			border: 1px solid @one-dark;
			clear: both;
			margin-top: 15px;
			max-height: 270px;
			max-width: 400px;
		}
	}
	.stopEditing {
		.flatBtn(@one-light, @one-dark, @two-dark);
		margin: 0 20px 0 20px;
		float: none;
		display: inline-block;
	}
	.deleteImg {
		.flatBtn(@one-light, #E50000, @one-xxl);
		float: none;
		display: inline-block;
	}
	.formMediumHorz button {
		vertical-align: baseline;
	}
	.controlButtons {
		margin-bottom: 10px;
	}
}

@media (max-width: 991px) {
	.createExercise {
		.formMediumHorz.form-horizontal {
			label {
				line-height: 20px;
			}
		}
		.exerciseDesc {
			height: 200px;
		}
	}
}
@media (max-width: 767px) {
	.createExercise {
		.imageDesc {
			height: 200px;
		}
	}
}

@media (max-width: 480px) {
	.createExercise {
		.metaData {
			.form-group {
				width: 100%;
			}
			.checkbox-group {
				height: 100px;
			}
		}
		.imageDesc {
			height: 150px;
		}
	}
}

@media (max-width: 400px) {
	.defaultImgKey {
		display: none;
	}
}





/*------------------------------------------------------------------*\
    $COMMUNITY
\*------------------------------------------------------------------*/


.community {
	background: url('/img/climber1.png') no-repeat right top;
	.container {
		min-height: 600px;
	}
}





/*------------------------------------------------------------------*\
    $LOADING BAR
\*------------------------------------------------------------------*/


/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
	pointer-events: none;
	-webkit-pointer-events: none;
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
	opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
	opacity: 1;
}

#loading-bar .bar {
	-webkit-transition: width 500ms;
	-moz-transition: width 500ms;
	-o-transition: width 500ms;
	transition: width 500ms;

	background: #29d;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#loading-bar .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #29d, 0 0 5px #29d;
	opacity: 1.0;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-moz-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	-o-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

#loading-bar-spinner {
	display: block;
	position: fixed;
	z-index: 100;
	top: 10px;
	left: 10px;
}

#loading-bar-spinner .spinner-icon {
	width: 14px;
	height: 14px;

	border: solid 2px transparent;
	border-top-color: #29d;
	border-left-color: #29d;
	border-radius: 10px;

	-webkit-animation: loading-bar-spinner 400ms linear infinite;
	-moz-animation: loading-bar-spinner 400ms linear infinite;
	-ms-animation: loading-bar-spinner 400ms linear infinite;
	-o-animation: loading-bar-spinner 400ms linear infinite;
	animation: loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes loading-bar-spinner {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes loading-bar-spinner {
	0% {
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-ms-keyframes loading-bar-spinner {
	0% {
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes loading-bar-spinner {
	0% {
		transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		transform: rotate(360deg);
	}
}