@scheme-one: #333;
@scheme-two: #08C;
@scheme-three: #E3E8CD;
@scheme-four: #F2F2F2;
@font-primary: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-secondary: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-tertiary: 'Open Sans', Helvetica, Arial, sans-serif;
@bgr-light: #F2F2F2;
@bgr-mid: #E3E8CD;
@bgr-dark: #666;