@font-primary: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-secondary: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-tertiary: 'Open Sans', Helvetica, Arial, sans-serif;

@one-xdark: #000;			/* darkest black */
@one-dark: #333;			/* dark black */
@one-middle: #666;			/* dark gray */
@one-light: #E3E8CD;		/* light gray */
@one-xlight: #F2F2F2;		/* off-white */

@two-dark: #08C;			/* dark blue */
@two-middle: #ACD9F2;		/* middle blue */

@three-dark: #F8CB43;		/* orange-yellow dark */
@three-middle: #FFE168; 	/* orange-yellow middle */