<div>
	<section id="intro">
		<div class="container">
			<div class="row-fluid">
				<div class="span12 sectionTitle">
					<div class="titleBox">exercise library</div>
				</div>
			</div>
		</div>
	</section>

	<section id="maincontent">
		<div class="container">
			<div class="row-fluid">
				<div class="span3">
					<div class="filterContainer">
						<div class="section">
							<h3>Exercise Filters</h3>
							<div class="clearFilters" ng-show="!isCleanSlate()" ng-click="clearFilters()">(X) Clear All Filters</div>
							<label>Search</label>
							<input type="text" ng-model="search.$"/>
							<label>Target</label>
							<select ng-model="search.Target" ng-options="x for x in targetOptions()">
								<option value="">-- all --</option>
							</select>
						</div>
						<div class="section">
							<label>Type</label>
							<select ng-model="search.Type" ng-options="x for x in typeOptions()">
								<option value="">-- all --</option>
							</select>
							<label>Difficulty</label>
							<select ng-model="search.Difficulty" ng-options="x for x in difficultyOptions()">
								<option value="">-- all --</option>
							</select>
							<label>Equipment</label>
							<select ng-model="search.Equipment" ng-options="x for x in equipmentOptions()">
								<option value="">-- all --</option>
							</select>
						</div>
					</div>
				</div>
				<div class="span9">
					<ul class="searchResults">
						<li class="exerciseCard" ng-repeat="exr in exercises | filter:search" ng-animate="'cards'">
							<div class="thumbContainer">
								<img class="thumb" src="{{exr.thumbnails[0]}}" alt=""/>

								<div class="moreInfo">
									<div class="target">Target: <span ng-repeat="x in exr.Target">{{x}}<span ng-show="!$last">,</span> </span></div>
									<div class="type">Type: <span ng-repeat="x in exr.Type">{{x}}<span ng-show="!$last">,</span> </span></div>
									<div class="difficulty">Difficulty: <span ng-repeat="x in exr.Difficulty">{{x}}<span ng-show="!$last">,</span> </span></div>
									<div class="equipment">Equipment: <span ng-repeat="x in exr.Equipment">{{x}}<span ng-show="!$last">,</span> </span></div>
								</div>
							</div>
							<div class="shortInfo">
								<div class="name">{{exr.name}}</div>
								<a href="/exercises/{{exr.id}}" class="details">See Exercise Details</a>
								<a href="#" class="add">Add To Session</a>
							</div>
						</li>
					</ul>
					<div ng-show="(exercises | filter:search).length == 0">No search results match the criteria.</div>
				</div>
			</div>
		</div>
	</section>
</div>


