<div>
	<section id="intro">
		<div class="container">
			<div class="row">
				<div class="sectionTitle">
					<div class="titleBox">exercise library</div>
				</div>
			</div>
		</div>
	</section>

	<section id="maincontent">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-3">
					<div class="filterContainer">
						<div class="section">
							<h3>Exercise Filters</h3>
							<a class="manage" href="/exercises/create" ng-show="isContributer()">[ create new exercise ]</a>
							<a class="clearFilters" ng-show="!isCleanSlate()" ng-click="clearFilters()">(X) Clear All Filters</a>
							<label>Search</label>
							<input type="text" ng-model="search.$"/>
							<label>Target</label>
							<select ng-model="search.target" ng-options="x for x in targetOptions()">
								<option value="">-- all --</option>
							</select>
						</div>
						<div class="section">
							<label>Type</label>
							<select ng-model="search.type" ng-options="x for x in typeOptions()">
								<option value="">-- all --</option>
							</select>
							<label>Difficulty</label>
							<select ng-model="search.difficulty" ng-options="x for x in difficultyOptions()">
								<option value="">-- all --</option>
							</select>
							<label>Equipment</label>
							<select ng-model="search.equipment" ng-options="x for x in equipmentOptions()">
								<option value="">-- all --</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-md-9">
					<ul class="searchResults">
						<li class="exerciseCard" ng-repeat="exr in exercises | filter:search" ng-animate="'cards'">
							<div class="thumbContainer">
								<img class="thumb" src="{{exr.thumbnails[0]}}" alt=""/>

								<div class="moreInfo">
									<div class="target">Target: <span ng-repeat="x in exr.target">{{x}}<span ng-show="!$last">,</span> </span></div>
									<div class="type">Type: <span ng-repeat="x in exr.type">{{x}}<span ng-show="!$last">,</span> </span></div>
									<div class="difficulty">Difficulty: <span ng-repeat="x in exr.difficulty">{{x}}<span ng-show="!$last">,</span> </span></div>
									<div class="equipment">Equipment: <span ng-repeat="x in exr.equipment">{{x}}<span ng-show="!$last">,</span> </span></div>
								</div>
							</div>
							<div class="shortInfo">
								<div class="name">{{exr.name}}</div>
								<a href="/exercises/{{ exr.id }}" class="details"><span class="glyphicon glyphicon-list"></span></a>
								<a href="" class="add"><span class="glyphicon glyphicon-plus-sign"></span></a>
							</div>
						</li>
					</ul>
					<div ng-show="(exercises | filter:search).length == 0">No search results match the criteria.</div>
				</div>
			</div>
		</div>
	</section>
</div>


