<div>
	<section id="maincontent" class="noIntro exerciseDetails">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<a href="/exercises" class="backToSearch"><---- Back to Exercises</a>
					<img class="photo" ng-src="{{ mainImage.url + '.medium' + mainImage.extension }}" />
					<div class="infoBlock">
						<div class="title">{{ exr.name }}</div>
						<div class="description">{{ exr.description }}</div>
						<div class="author">Created by: {{ exr.author }}</div>
						<div class="metadata">
							<div class="target">Target: <span ng-repeat="x in exr.target">{{ x.name }}<span ng-show="!$last">,</span> </span></div>
							<div class="type">Type: <span ng-repeat="x in exr.type">{{ x.name }}<span ng-show="!$last">,</span> </span></div>
							<div class="difficulty">Difficulty: <span ng-repeat="x in exr.difficulty">{{ x.name }}<span ng-show="!$last">,</span> </span></div>
							<div class="equipment">Equipment: <span ng-repeat="x in exr.equipment">{{ x.name }}<span ng-show="!$last">,</span> </span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>