<section id="intro">
	<div class="container">
		<div class="row-fluid">
			<div class="span12 sectionTitle">
				<div class="titleBox">exercise search</div>
			</div>
		</div>
	</div>
</section>

<section id="maincontent">
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
				<label>Filter by Name</label>
				<select ng-model="exerciseName" ng-options="x.name for x in exercises">
					<option value="">-- choose name --</option>
				</select>
			</div>
			<div class="span7">
				<ul class="searchResults">
					<li class="exerciseCard" ng-repeat="exr in exercises | filter:exerciseName" ng-animate="'cards'">
						<div class="name">{{exr.name}}</div>
						<div class="author">{{exr.author}}</div>
						<div class="description">{{exr.description}}</div>
						<div class="metadata" ng-repeat="meta in exr.metadata">
							<div class="meta">{{meta.type}}: {{meta.name}}</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>