<div>
	<section id="intro">
		<div class="container">
			<div class="row">
				<div class="sectionTitle">
					<div class="titleBox">create exercise</div>
				</div>
			</div>
		</div>
	</section>

	<section id="maincontent" class="createExercise">
		<div class="container">
			<div class="row">
				<form name="createNewExerciseForm" class="formMediumHorz form-horizontal" form-model="newExerciseModel" submit-func="createNewExercise()" cm-form-validator ng-submit="submit()">

					<div class="col-md-6">
						<div class="form-group">
							<label class="col-md-3 control-label">name</label>

							<div class="col-md-9">
								<input type="text" ng-model="formModel.name" class="form-control" name="inputName" placeholder="first name" autofocus required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">description</label>

							<div class="col-md-9">
								<textarea ng-model="formModel.description" class="exerciseDesc form-control" name="inputDescription" placeholder="exercise description" required></textarea>
							</div>
						</div>
					</div>

					<div class="col-md-6 metaData">
						<div class="col-xs-6 form-group">
							<label class="control-label">target</label>

							<div class="checkbox-group">
								<label class="checkbox" for="{{ x.id }}" ng-repeat="x in $parent.allMeta.target">
									<input type="checkbox" ng-model="$parent.$parent.list[x.id]" id="{{ x.id }}"/>
									{{ x.name }}
								</label>
							</div>

						</div>
						<div class="col-xs-6 form-group">
							<label class="control-label">type</label>

							<div class="checkbox-group">
								<label class="checkbox" for="{{ x.id }}" ng-repeat="x in $parent.allMeta.type">
									<input type="checkbox" ng-model="$parent.$parent.list[x.id]" id="{{ x.id }}"/>
									{{ x.name }}
								</label>
							</div>

						</div>
						<div class="col-xs-6 form-group">
							<label class="control-label">equipment</label>

							<div class="checkbox-group">
								<label class="checkbox" for="{{ x.id }}" ng-repeat="x in $parent.allMeta.equipment">
									<input type="checkbox" ng-model="$parent.$parent.list[x.id]" id="{{ x.id }}"/>
									{{ x.name }}
								</label>
							</div>
						</div>
						<div class="col-xs-6 form-group">
							<label class="control-label">difficulty</label>

							<div class="checkbox-group">
								<label class="checkbox" for="{{ x.id }}" ng-repeat="x in $parent.allMeta.difficulty">
									<input type="checkbox" ng-model="$parent.$parent.list[x.id]" id="{{ x.id }}"/>
									{{ x.name }}
								</label>
							</div>

						</div>
					</div>

					<div class="col-md-6">
						<div class="col-md-9 col-md-offset-3">
							<div class="formMessageError" ng-show="errorPresent && thisForm.$error.required">A required field is missing</div>
							<div class="formMessageError" ng-show="formModel.clicked" ng-animate="{show: 'fade-show', hide: 'fade-hide'}" ng-repeat="err in formModel.errorMessages">{{err.message}}</div>
							<button type="submit" class="btn btn-medium btn-primary" ng-click="formClick($event)">create</button>
							<div class="formMessageError" ng-show="!errorPresent">{{formModel.message}}</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>