<div>
	<section id="intro">
		<div class="container">
			<div class="row">
				<div class="sectionTitle">
					<div class="titleBox">exercise library &nbsp;&nbsp;>&nbsp;&nbsp; details</div>
				</div>
				<a href="/exercises" class="backToSearch"><span class="glyphicon glyphicon-arrow-left"></span> exercises library</a>
				<a href="/exercises/edit/{{ exr.id }}" ng-show="isContributer()" class="editExercise"><span class="glyphicon glyphicon-edit"></span>edit</a>

				<div class="loaderContainer" ng-show="loading">
					<div class="loader"></div>
				</div>
			</div>
		</div>
	</section>

	<section id="maincontent" class="exerciseDetails">
		<div class="container">

			<ul class="nav nav-tabs cB" cm-tabs>
				<li ng-class="{active: panes.basicInfo}"><a ng-click="tabSelect('basicInfo')"><span class="glyphicon glyphicon-th-list"></span> <span class="textName">BASIC INFO</span></a></li>
				<li ng-class="{active: panes.stepsImages}" ng-show="exr.images"><a ng-click="tabSelect('stepsImages')"><span class="glyphicon glyphicon-picture"></span> <span class="textName">STEPS &amp; IMAGES</span></a></li>
				<li ng-class="{active: panes.videos}" ng-show="exr.video"><a ng-click="tabSelect('videos')"><span class="glyphicon glyphicon-facetime-video"></span> <span class="textName">VIDEOS</span></a></li>
			</ul>

			<div class="tab-content">

	<!---- Basic Info ---->
				<div class="tab-pane" ng-class="{active: panes.basicInfo}">
					<div class="mainImageContainer">
						<span class="helper"></span>
						<img class="mainImage" ng-src="{{ mainImageMd }}"/>
					</div>

					<div class="infoBlock">
						<h3>{{ exr.name }}</h3>
						<div class="description">{{ exr.description }}</div>
					</div>
					<div class="metaBlock">
						<div class="author"><strong>author:</strong> {{ exr.author }}</div>
						<div class="target"><strong>target:</strong> <span ng-repeat="x in exr.target">{{ x.name }}<span ng-show="!$last">,</span> </span></div>
						<div class="type"><strong>type:</strong> <span ng-repeat="x in exr.type">{{ x.name }}<span ng-show="!$last">,</span> </span></div>
						<div class="difficulty"><strong>difficulty:</strong> <span ng-repeat="x in exr.difficulty">{{ x.name }}<span ng-show="!$last">,</span> </span></div>
						<div class="equipment"><strong>equipment:</strong> <span ng-repeat="x in exr.equipment">{{ x.name }}<span ng-show="!$last">,</span> </span></div>
					</div>
				</div>


	<!---- Steps & Images ---->
				<div class="tab-pane" ng-class="{active: panes.stepsImages}">
					<div class="stepLargeImgContainer">
						<div class="stepNumber">{{ stepIndex + 1 }}</div>
						<span class="helper"></span>
						<img class="stepLargeImg" ng-src="{{ exr.images[stepIndex].url + '.medium' + exr.images[stepIndex].extension }}"/>
					</div>
					<a class="nextImg" ng-click="nextStep()">next</a><br/>
					<a class="prevImg" ng-click="prevStep()">previous</a>
				</div>

	<!---- Videos ---->
				<div class="tab-pane" ng-class="{active: panes.videos}">
					videos
				</div>

			</div>
		</div>
	</section>
</div>