<footer class="footer">
	<!-- <div class="container">
		<div class="row">
			<div class="span3">
				<div class="widget">
					<h4>About us</h4>
					<address>
					<strong>Scaffold company, Inc.</strong><br>
					 445 Mypark Ave, Suite 800<br>
					 Jakarta, Indonesia 14210<br>
					<abbr title="Phone">P:</abbr> (123) 456-7890 </address>
					<address>
					<strong>Contact us</strong><br>
					<a href="mailto:#">hello@websitename.com</a>
					</address>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<h4>Browse pages</h4>
					<ul class="nav nav-list regular">
						<li class="nav-header">More from us</li>
						<li><a href="#">Work for us</a></li>
						<li><a href="#">Creative process</a></li>
						<li><a href="#">Case study</a></li>
						<li class="nav-header">Quick links</li>
						<li><a href="#">Scaffold awwards</a></li>
						<li><a href="#">Meet the team</a></li>
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<h4>Latest tweets</h4>
					<div class="twitter">
					</div>
					<script type="text/javascript">
							$(document).ready(function(){
							   //TWITTER
								$(".twitter").tweet({
									  join_text: "auto",
									  username: "wrapbootstrap",
									  avatar_size: 20,
									  count: 2,
									  auto_join_text_default: "we said,",
									  auto_join_text_ed: "we",
									  auto_join_text_ing: "we were",
									  auto_join_text_reply: "we replied",
									  auto_join_text_url: "we were checking out",
									  loading_text: "loading tweets..."
								});
							});
						</script>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<h4>Get email updates</h4>
					<form class="form-horizontal" action="#" method="post">
						<fieldset>
							<p>
								 Sign up for email updates and we'll plant a tree for you through Trees for the Future.
							</p>
							<div class="input-prepend input-append">
								<input class="span2" id="appendedPrependedInput" type="text" placeholder="Email">
								<button class="btn btn-inverse" type="submit">Subscribe!</button>
							</div>
						</fieldset>
					</form>
					<ul class="social_small">
						<li class="facebook first"><a href="#" title="Facebook">Facebook</a></li>
						<li class="twitt"><a href="#" title="Twitter">Twitter</a></li>
						<li class="googleplus"><a href="#" title="google plus">Google plus</a></li>
						<li class="flickr"><a href="#" title="flickr">Flickr</a></li>
						<li class="dribbble"><a href="#" title="Dribbble">Dribbble</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div> -->
	<div class="verybottom">
		<div class="container">
			<div class="row">
				<div class="span6">
				</div>
				<div class="span6">
					<p class="pull-right">
						&copy; crimpd 2013
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>