<header ng-controller="HeaderCtrl">
	<div class="navbar">
		<div class="container">
			<!-- logo -->
			<a class="logo" href="/">
				<img src="/img/logo-header-white.png" alt="crimpd logo">
			</a>
			<!-- end logo -->
			<div class="userInfo">
				<div class="userWelcome">
					<span ng-show="isSignedIn()">
					howdy, <strong>{{currentUser.name}}</strong>
					</span>
					<span ng-show="!isSignedIn()">
						hi there, <strong>noob</strong>
					</span>
				</div>
				<div ng-show="isSignedIn()">
					<a href="/settings">settings</a> | <a ng-click="signOut($event)">log out</a>
				</div>
				<div ng-show="!isSignedIn()">
					<a href="/login">log in</a> | <a href="/register">register</a>
				</div>
			</div>
			<div style="float: left; margin: 10px 0 0 30px;">
				<div class="visible-sm">sm</div>
				<div class="visible-md">md</div>
				<div class="visible-lg">lg</div>
			</div>
			<a class="toggleNavHamburger visible-xs" data-toggle="dropdown" id="toggleNav">Menu</a>
			<!-- top menu -->
			<nav>
				<ul class="nav topnav hidden-xs">
					<li ng-class="isActiveExact('/')">
						<a href="/">comm<br/>unity</a>
					</li>
					<li ng-class="isActive('/dashboard')">
						<a href="/dashboard">dash<br/>board</a>
					</li>
					<li ng-class="isActive('/exercises')">
						<a href="/exercises">exercise<br/>library</a>
					</li>
				</ul>
				<ul class="nav nav-pills nav-stacked visible-xs" aria-labelledby="toggleNav">
					<li ng-class="isActiveExact('/')"><a href="/">community</a></li>
					<li ng-class="isActive('/dashboard')"><a href="/dashboard">dashboard</a></li>
					<li ng-class="isActive('/exercises')"><a href="/exercises">exercise library</a></li>
					<li ng-class="isActive('/settings')" ng-show="isSignedIn()" class="onlyXXS"><a href="/settings">settings</a></li>
					<li ng-class="isActive('/login')" ng-show="!isSignedIn()" class="onlyXXS"><a href="/login">log in</a></li>
					<li ng-show="isSignedIn()" class="onlyXXS"><a ng-click="signOut($event)">log out</a></li>
					<li ng-class="isActive('/register')" ng-show="!isSignedIn()" class="onlyXXS"><a href="/register">register</a></li>
				</ul>
			</nav>
			<!-- end menu -->
		</div>
	</div>
</header>