<section id="intro">
	<div class="container">
		<div class="row">
			<div class="sectionTitle">
				<div class="titleBox">privacy policy</div>
			</div>
		</div>
	</div>
</section>

<section id="maincontent">
	<div class="container">
		<div class="row">
			<h3>terms and conditions</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis pellentesque sagittis. Morbi blandit pulvinar nulla, accumsan blandit sapien tempor scelerisque. Etiam fermentum interdum nunc,
				id sagittis orci hendrerit vitae. Quisque nulla ipsum, porttitor nec mollis sed, pulvinar at risus. Vivamus sed imperdiet orci, sed ullamcorper lacus. Nullam commodo fermentum risus, ut
				fermentum ipsum convallis ultricies. Proin vehicula ultrices turpis ut blandit. In sit amet bibendum nisi.</p>
			<p>Nunc posuere venenatis metus ut ultricies. Nam eu sem ornare, interdum lectus eu, ullamcorper elit. Fusce tempor condimentum scelerisque. Quisque eget euismod lacus. Etiam consequat orci ante,
				ac malesuada turpis porta non. Cras sodales scelerisque risus vitae egestas. Etiam vel venenatis purus, ut vestibulum massa. Vestibulum eget aliquam libero.</p>
			<h3>privacy</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis pellentesque sagittis. Morbi blandit pulvinar nulla, accumsan blandit sapien tempor scelerisque. Etiam fermentum interdum nunc,
				id sagittis orci hendrerit vitae. Quisque nulla ipsum, porttitor nec mollis sed, pulvinar at risus. Vivamus sed imperdiet orci, sed ullamcorper lacus. Nullam commodo fermentum risus, ut
				fermentum ipsum convallis ultricies. Proin vehicula ultrices turpis ut blandit. In sit amet bibendum nisi.</p>

			<p>Nunc posuere venenatis metus ut ultricies. Nam eu sem ornare, interdum lectus eu, ullamcorper elit. Fusce tempor condimentum scelerisque. Quisque eget euismod lacus. Etiam consequat orci ante,
				ac malesuada turpis porta non. Cras sodales scelerisque risus vitae egestas. Etiam vel venenatis purus, ut vestibulum massa. Vestibulum eget aliquam libero.</p>
		</div>
	</div>
</section>