<section id="intro">
	<div class="container">
		<div class="row">
			<div class="sectionTitle">
				<div class="titleBox">register</div>
			</div>
		</div>
	</div>
</section>

<section id="maincontent">
	<div class="container">
		<div class="row">
			<form name="registrationForm" class="formMediumHorz form-horizontal stopAt500 col-sm-10 col-md-8 col-lg-8" form-model="registerModel" form-utils="registerFormUtils" submit-func="register()" cm-form-validator ng-submit="submit()">
				<h3>register / crimpd</h3>
				<div class="form-group">
					<label class="col-sm-4 control-label">user name</label>
					<div class="col-sm-8">
						<input type="text" ng-model="formModel.username" class="form-control" name="inputUserName" placeholder="username" parent-form="registrationForm" cm-username-input required autofocus/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">email</label>
					<div class="col-sm-8">
						<input type="email" ng-model="formModel.email" class="form-control" name="inputEmail" placeholder="email" required/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">first name</label>
					<div class="col-sm-8 controls">
						<input type="text" ng-model="formModel.firstName" class="form-control" name="inputFirstName" placeholder="first name"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">last name</label>
					<div class="col-sm-8">
						<input type="text" ng-model="formModel.lastName" class="form-control" name="inputLastName" placeholder="last name"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">password</label>
					<div class="col-sm-8">
						<input type="password" ng-model="formModel.password" class="form-control" name="inputPassword" placeholder="password" required/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">confirm password</label>
					<div class="col-sm-8">
						<input type="password" ng-model="formModel.confirmPassword" class="form-control" name="inputConfirmPassword" placeholder="confirm password" required/>
					</div>
				</div>

				<div class="col-sm-8 col-sm-offset-4">
					<div class="formMessageError" ng-show="errorPresent && thisForm.$error.required">A required field is missing</div>
					<div class="formMessageError" ng-show="errorPresent && thisForm.$error.email">Email address is invalid.</div>
					<div class="formMessageError" ng-show="thisForm.$error.duplicate">Username is already taken.</div>
					<div class="formMessageError" ng-show="!errorPresent">{{formModel.message}}</div>
					<div class="formMessageError" ng-show="formUtils.clicked" ng-animate="{show: 'fade-show', hide: 'fade-hide'}" ng-repeat="err in formModel.errorMessages">{{err.message}}</div>
					<button type="submit" class="btn btn-medium btn-primary" ng-click="formClick($event)">register</button>
				</div>

				<div class="privacyPolicyLink">check out our <a href="/privacy-policy">privacy policy</a></div>

			</form>
		</div>
	</div>
</section>