<section id="maincontent" class="noIntro">
	<div class="container">
		<div class="row loginMod">
			<div class="span6">
				<form name="registrationForm" class="formLarge emailLoginForm" form-model="registerModel" submit-func="register()" cm-form-validator ng-submit="submit()">
					<h3>register / crimpd</h3>
					<input type="text" ng-model="formModel.username" name="inputUserName" placeholder="username" required />
					<input type="text" ng-model="formModel.firstName" name="inputFirstName" placeholder="first name" required />
					<input type="text" ng-model="formModel.lastName" name="inputLastName" placeholder="last name" required />
					<input type="text" ng-model="formModel.email" name="inputEmail" placeholder="email" required />
					<input type="password" ng-model="formModel.password" name="inputPassword" placeholder="password" required />
					<input type="password" ng-model="formModel.confirmPassword" name="inputConfirmPassword" placeholder="confirm password" required />
					<div class="formMessageError" ng-show="errorPresent && thisForm.$error.required">A required field is missing</div>
					<div class="formMessageError" ng-show="!errorPresent">{{formModel.message}}</div>
					<div class="formMessageError" ng-repeat="err in formModel.errorMessages">{{err.message}}</div>
					<button type="submit" class="btn btn-large btn-warning" ng-click="formClick($event)">register</button>
				</form>
			</div>
		</div>
	</div>
</section>