<section id="intro">
	<div class="container">
		<div class="row">
			<div class="sectionTitle">
				<div class="titleBox">user settings</div>
			</div>
		</div>
	</div>
</section>

<section id="maincontent">
	<div class="container">
		<div class="row rowExtraMargins">
			<div class="col-sm-10 col-md-6 col-lg-6">
				<form name="updateProfileForm" class="formMediumHorz form-horizontal stopAt500" form-model="updateProfileModel" form-utils="updateProfileFormUtils" submit-func="updateProfile()" cm-form-validator ng-submit="submit()">
					<h3>update profile</h3>
					<div class="form-group">
						<label class="col-sm-5 control-label">first name</label>
						<div class="col-sm-7">
							<input type="text" ng-model="formModel.firstname" class="form-control" name="inputFirstName" placeholder="first name" autofocus>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">last name</label>
						<div class="col-sm-7">
							<input type="text" ng-model="formModel.lastname" class="form-control" name="inputLastName" placeholder="last name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">email</label>
						<div class="col-sm-7">
							<input type="email" ng-model="formModel.email" class="form-control" name="inputEmail" placeholder="email" required>
						</div>
					</div>

					<div class="col-sm-7 col-sm-offset-5">
						<div class="formMessageError" ng-show="errorPresent && thisForm.$error.required">A required field is missing</div>
						<div class="formMessageError" ng-show="errorPresent && thisForm.$error.email">Email address is invalid.</div>
						<div class="formMessageError animateFade" ng-show="formUtils.clicked" ng-repeat="err in formModel.errorMessages">{{err.message}}</div>
						<button type="submit" class="btn btn-medium btn-primary" ng-click="formClick($event)">update</button>
					</div>
				</form>
			</div>
			<div class="col-sm-10 col-md-6 col-lg-6">
				<form name="changePasswordForm" class="formMediumHorz form-horizontal stopAt500" form-model="changePasswordModel" form-utils="changePasswordFormUtils" submit-func="changePassword()" cm-form-validator ng-submit="submit()">
					<h3>change password</h3>
					<div class="form-group">
						<label class="col-sm-5 control-label">current password</label>
						<div class="col-sm-7">
							<input type="text" ng-model="formModel.currentPW" class="form-control" name="inputCurrentPW" placeholder="current password" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">new password</label>
						<div class="col-sm-7">
							<input type="password" ng-model="formModel.newPW" class="form-control" name="inputNewPW" placeholder="new password" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">confirm password</label>
						<div class="col-sm-7">
							<input type="password" ng-model="formModel.confirmNewPW" class="form-control" name="inputConfirmNewPW" placeholder="confirm new password" required>
						</div>
					</div>

					<div class="col-sm-7 col-sm-offset-5">
						<div class="formMessageError" ng-show="errorPresent && thisForm.$error.required">A required field is missing</div>
						<div class="formMessageError animateFade" ng-show="formUtils.clicked" ng-repeat="err in formModel.errorMessages">{{err.message}}</div>
						<button type="submit" class="btn btn-medium btn-primary" ng-click="formClick($event)">update</button>
					</div>
				</form>
			</div>
			<div class="col-sm-12">
				<div class="privacyPolicyLink">check out our <a href="/privacy-policy">privacy policy</a></div>
			</div>
		</div>
	</div>
</section>